.about-and-img-container {
  position: relative;

  @media (min-width: 50em) {
    position: relative;
    margin-inline: 150px;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    max-width: 1000px;
    margin-block: 100px;
  }
}

.about-me-container {
  display: flex;
  margin: 20px;
  gap: 2rem;
  flex-direction: column;

  h2 {
    font-size: 2rem;
  }

  span {
    color: var(--blue);
    background-color: inherit;
  }

  p,
  a {
    font-family: "Calibre Light", sans-serif;
    font-size: 1.125rem;
    text-decoration: none;
  }
  a {
    color: var(--blue);
  }

  @media all and (min-width: 50em) {
    position: relative;
    margin: 0;
    flex: 3;

    p,
    a {
      font-size: 1.25rem;
    }

    // fixme: do I want a line there or not? dunno yet
    /*    h2 {
      &:after {
        content: "";
        display: block;
        position: relative;
        margin-left: 0;
        top: -23px;
        width: 300px;
        height: 1px;
        background-color: var(--smokey-black);
        z-index: 0;
      }
    }*/

    a {
      position: relative;
      color: var(--blue);
      text-decoration: none;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--blue);
        transform-origin: bottom left;
        transition: transform 0.28s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  grid-gap: 0 10px;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;

  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono", sans-serif;

    &:before {
      content: "⠜";
      position: absolute;
      left: 0;
      color: var(--blue);
      font-size: 1rem;
      line-height: 22px;
    }
  }
}
