.about-and-img-container {
  position: relative;

  @media (min-width: 50em) {
    position: relative;
    margin-inline: 150px;
    margin-block: 100px;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    max-width: 1000px;
  }
}

.about-me-container {
  display: flex;
  margin: 20px;
  gap: 2rem;
  flex-direction: column;

  h2 {
    font-size: 2rem;
  }

  span {
    color: var(--blue);
    background-color: inherit;
  }

  p,
  a {
    font-family: "Calibre Light", sans-serif;
    font-size: 1.125rem;
    text-decoration: none;
  }
  a {
    color: var(--blue);
  }

  @media all and (min-width: 50em) {
    position: relative;
    margin: 0;
    flex: 3;

    p,
    a {
      font-size: 1.25rem;
    }

    // fixme: do I want a line there or not? dunno yet
    /*h2 {
      &:after {
        content: "";
        display: block;
        position: relative;
        margin-left: 18%;
        top: -23px;
        width: 300px;
        height: 1px;
        background-color: var(--smokey-black);
      }
    }*/

    a {
      position: relative;
      color: var(--blue);
      text-decoration: none;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--blue);
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}

.img-container {
  top: 30px;
  position: relative;

  @media (min-width: 50em) {
    position: relative;
    flex: 1;
    margin-bottom: auto;
    top: 73px;
  }
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  grid-gap: 0 10px;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;

  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono", sans-serif;

    &:before {
      content: "⠜";
      position: absolute;
      left: 0;
      color: var(--blue);
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.scroll-icon {
  font-size: 2rem;
  color: black;
  background: transparent;
}

.icon-scroll-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  outline-color: transparent;
  bottom: 0;
  margin-bottom: 3rem;
  animation: floating 2s ease-in-out infinite 4.8s;
}

@keyframes floating {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}
