.svg-blob-card {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	filter: contrast(300%) brightness(30%);
	z-index: 0;
}

/*.card1 {
	background: linear-gradient(0deg, var(--main-cyan), rgba(0, 0, 0, 0));
}

.card2 {
	background: linear-gradient(0deg, #166703, rgba(0, 0, 0, 0));
}

.card3 {
	background: linear-gradient(0deg, var(--main-orange), rgba(0, 0, 0, 0));
}*/

