@keyframes flicker {
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow: 0 0 4px rgba(255, 255, 255, 0.22),
		0 0 11px rgb(255, 255, 255),
		0 0 19px rgba(255, 255, 255, 0.78),
		0 0 20px rgba(0, 255, 170, 0.71),
		0 0 21px rgba(0, 255, 170, 0.76),
		0 0 25px rgba(0, 255, 170, 0.47),
		0 0 26px rgba(0, 255, 170, 0.8),
		0 0 30px rgba(0, 255, 170, 0.78);
	}
	/*	20%, 24%, 55% {
			text-shadow: none;
		}*/
}

.intro-text-container {
	padding: 7rem;
	position: relative;
	display: flex;
	flex-direction: column;

	h1 {
		color: var(--text-gray);
		font-size: 1.1rem;
		width: 5.2rem;
		white-space: nowrap;
		overflow: hidden;
	}

	h2 {
		color: var(--text-gray);
		font-size: 3.5rem;
	}

	h3 {
		color: var(--text-gray);
		font-size: 2rem;
		/*font-size: 3.5vw;*/
	}

	p {
		font-family: "Calibre Light", sans-serif;
		font-size: 1.125rem;
		max-width: 500px;
		color: #ffffff;
	}

	@media (min-width: 50em) {
		height: 100vh;
		width: 100%;
		div {
			width: fit-content;

			&:hover {
				cursor: pointer;
			}
		}
		h2 {
			letter-spacing: -7px;
			font-size: 8rem;
			font-family: "Intel One Mono", sans-serif;
		}

		h3 {
			font-size: 3rem;
			animation: flicker 1.5s infinite alternate;
		}

		p {
			font-size: 1.25rem;
		}
	}
}

