@keyframes flicker {
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
		text-shadow: 0 0 4px rgba(255, 255, 255, 0.22),
		0 0 11px rgb(255, 255, 255),
		0 0 19px rgba(255, 255, 255, 0.78),
		0 0 20px rgba(0, 255, 170, 0.71),
		0 0 21px rgba(0, 255, 170, 0.76),
		0 0 25px rgba(0, 255, 170, 0.47),
		0 0 26px rgba(0, 255, 170, 0.8),
		0 0 30px rgba(0, 255, 170, 0.78);
	}
	/*	20%, 24%, 55% {
			text-shadow: none;
		}*/
}

@keyframes vibrate {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-2px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(2px, 1px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-2px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(2px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -1px) rotate(-1deg);
	}
}

/*.name-container > * {
	color: white;
	background: transparent;
	font-family: "Intel One Mono Medium", sans-serif;
	font-size: 5rem;

	h1 {
		font-size: 5rem;
		font-family: "Intel One Mono Medium", sans-serif;
		background: transparent;
	}

	span {
		font-size: 5rem;
		font-family: "Intel One Mono Medium", sans-serif;
		background: transparent;
	}
}*/

.intro-text-container {
	padding: 7rem;
	position: relative;
	display: flex;
	flex-direction: column;
	background: transparent;

	h1 {
		color: var(--text-black);
		font-size: 1.1rem;
	}

	h2 {
		color: var(--text-black);
		font-size: 3.5rem;
	}

	h3 {
		color: var(--text-black);
		font-size: 2rem;
		/*font-size: 3.5vw;*/
	}

	p {
		font-family: "Calibre Light", sans-serif;
		font-size: 1.125rem;
		max-width: 500px;
		color: #ffffff;
	}

	@media (min-width: 50em) {
		width: 100%;
		height: 100vh;
		div {
			width: fit-content;
			background: none;

			&:hover {
				cursor: pointer;
				animation: flicker 0.5s;
				animation-iteration-count: infinite;
			}
		}
		h2 {
			background: none;
			letter-spacing: -7px;
			font-size: 6rem;
			font-family: "Intel One Mono", sans-serif;

			&:hover {
				cursor: pointer;
				animation: vibrate 0.5s;
				animation-iteration-count: infinite;
			}
		}

		h3 {
			background-color: rgba(0, 0, 0, 0);
			font-size: 3rem;


			&:hover {

				cursor: pointer;
				animation: vibrate 0.5s;
				animation-iteration-count: infinite;
			}
		}

		p {
			font-size: 1.25rem;
		}
	}
}

