.projects-text-container {
  position: relative;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-inline: 20px;
  margin-top: 280px;

  h2 {
    font-size: 2rem;
  }

  p,
  a {
    font-family: "Calibre Light", sans-serif;
    font-size: 1.125rem;
    text-decoration: none;
  }
  a {
    color: var(--pink);
  }

  @media (min-width: 50em) {
    flex-direction: column;
    max-width: 1000px;
    margin-inline: 150px;
    margin-block: 100px;

    p {
      font-size: 1.25rem;
    }
  }
}

.section-heading {
  color: var(--purple);
  background-color: inherit;
}
