*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //-moz-box-sizing: border-box;
  background: var(--yellow-background);
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}

/*$bp-small: 24em;
$bp-med: 46.8em;
$bp-large: 50em;
$bp-xl: 73em;*/

::selection {
  background: var(--selection);
  color: var(--yellow-background);
}
::-moz-selection {
  background: var(--selection);
  color: var(--yellow-background);
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../../public/fonts/BebasNeue/BebasNeue-Regular.woff") format("woff"),
    url("../../public/fonts/BebasNeue/BebasNeue-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("../../public/fonts/BebasNeue/Bebas Neue Book 300.woff")
      format("woff"),
    url("../../public/fonts/BebasNeue/Bebas Neue Book 300.woff2")
      format("woff2");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../../public/fonts/BebasNeue/BebasNeue-Regular.woff") format("woff"),
    url("../../public/fonts/BebasNeue/BebasNeue-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../../public/fonts/BebasNeue/BebasNeue-Regular.woff") format("woff"),
    url("../../public/fonts/BebasNeue/BebasNeue-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../../public/fonts/BebasNeue/BebasNeue-Regular.woff") format("woff"),
    url("../../public/fonts/BebasNeue/BebasNeue-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../../public/fonts/Montserrat/Montserrat-Light.woff") format("woff"),
    url("../../public/fonts/Montserrat/Montserrat-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat Thin";
  src: url("../../public/fonts/Montserrat/Montserrat-Thin.woff") format("woff"),
    url("../../public/fonts/Montserrat/Montserrat-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../../public/fonts/Montserrat/Montserrat-Regular.woff")
      format("woff"),
    url("../../public/fonts/Montserrat/Montserrat-Regular.woff2")
      format("woff2");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../../public/fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("../../public/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../../public/fonts/Montserrat/Montserrat-SemiBold.woff")
      format("woff"),
    url("../../public/fonts/Montserrat/Montserrat-SemiBold.woff2")
      format("woff2");
}

@font-face {
  font-family: "Montserrat ExtraBold";
  src: url("../../public/fonts/Montserrat/Montserrat-ExtraBold.woff")
      format("woff"),
    url("../../public/fonts/Montserrat/Montserrat-ExtraBold.woff2")
      format("woff2");
}

@font-face {
  font-family: "Calibre Light";
  src: url("../../public/fonts/Calibre/CalibreLight.woff") format("woff"),
    url("../../public/fonts/Calibre/CalibreLight.woff2") format("woff2");
}

:root {
  --yellow-background: #faf6e9;
  --selection: #1e1e1e;
  --green-navbar-hover: #c5efdc;
  --pink: #dd3988;
  --pink-shadow: #791f4d;
  --blue: #3533f3;
  --brown: #cc8446;
  --green: #94cc46;
  --mustard: #ccae46;
  --footer: #f1f333;

  --smokey-black: hsl(41, 100%, 3%);
  --smokey-black-active: hsl(41, 100%, 3%);

  --linkedin-color: #0a66c2;
  --github-color: #f0f6fc;
  --text-gray: #6f6f6f;
  --text-black: #000;
  --border-radius: 12px;
  --border-radius-card-color: 8px;
  --border-radius-modal: 10px;
  --border-width: 3px;
  --border-specs: var(--border-width) solid black;
  --box-shadow: 8px 8px #000;
  --box-shadow-pink: 8px 8px var(--pink-shadow);
  --box-shadow-modal: 16px 16px #000;
  --box-shadow-icon: 2px 2px #000;
  --transition: all 0.14s ease-out 0s;
  --transition-navbar: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --sm: 14px;
  --outline: 1px red solid;
}
