.intro-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 0 20px 0 20px;
  height: 100vh;

  h1 {
    color: var(--text-gray);
    font-size: 1.1rem;
    width: 5.2rem;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2s steps(14, end) forwards;
  }

  h2 {
    color: var(--text-black);
    font-size: 3.5rem;
    line-height: normal;
    width: 17rem;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2s steps(14, end) 2s forwards;
  }

  h3 {
    color: var(--text-gray);
    font-size: 2rem;
    /*font-size: 3.5vw;*/
  }

  p {
    font-family: "Calibre Light", sans-serif;
    font-size: 1.125rem;
    max-width: 500px;
  }

  @media (min-width: 50em) {
    max-width: 1000px;
    margin-top: 5%;
    margin-inline: 150px;
    right: 10%;

    h2 {
      font-size: 6rem;
      line-height: normal;
      width: 29rem;
      transform: translateY(0.02em);
      /*text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
        0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;*/
      transition: var(--transition);
    }

    h3 {
      font-size: 3rem;
    }

    p {
      font-size: 1.25rem;
    }
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  99% {
    border-right: 4px solid var(--purple);
  }
  100% {
    border-right: none;
  }
}
