.footerContainer {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(#010500, #0105006b),
    url("../../../public/images/mac-code.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 75%;
  overflow: hidden;
  margin-top: 2rem;
}

.footerContent {
  display: flex;
  position: relative;
  background: none;
  width: fit-content;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  padding-left: 2rem;
  z-index: 1;
}

.socialMediaContainer {
  background: none;
  width: fit-content;
}

.footerUl {
  display: flex;
  list-style: none;
  gap: 2rem;
  background: none;

  li,
  a {
    background: none;
  }
}

.iconLink {
  width: 32px;
  position: relative;
  font-size: 2rem;
  background: none;
  transition: var(--transition);

  &:hover {
    transform: translateY(-3px);
    transition: var(--transition);
  }
}

/*.githubLink,
.linkedin {
  path {
    color: #fff;
  }
}*/

.designedByContainer {
  background: none;
}

.designedByContainer > a {
  background-color: transparent;
  font-family: "Intel One Mono Medium", sans-serif;
  font-size: 0.8rem;
  position: relative;
  transition: var(--transition);

  &:hover {
    text-decoration: none;
  }
}

.copyrightContainer {
  background: none;
  display: flex;
  flex-direction: column;
}

.copyrightContainer > p {
  background: none;
  font-family: "Intel One Mono Medium", sans-serif;
  font-size: 0.8rem;
  position: relative;
}

@media (min-width: 50em) {
  .designedByContainer > a:hover {
    transition: var(--transition);
  }
}

@media screen and (max-width: 768px) {
  .footerContainer {
    background-size: 230%;
    background-position: 20% 50%;
  }
}
