.card {
	border: var(--border-specs);
	border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	-webkit-border-radius: var(--border-radius);
	-khtml-border-radius: var(--border-radius);
	transition: var(--transition);
	min-width: 220px;
	max-width: 220px;
	box-shadow: none;
	height: 20rem;
	position: relative;
	display: inline-block;
	padding: 20px;
	overflow: hidden;
	cursor: pointer;
	text-align: left;
	transform: translate(0, 0);

	.technologies-container {
		li {
			text-shadow: 0 0 0 #fff,
			0 0 7px #fff;
		}
	}

	&:hover {
		box-shadow: var(--box-shadow);
		transform: translate(-8px, -8px);
		transition: var(--transition);


		.hover-card-scale-img {
			transition: var(--transition);
			transform: translate(-400px, -300px) scale(0.5);
		}
	}
}

.modal-img {
	position: absolute;
	z-index: -1;
	transition: var(--transition);
	transform: scale(1);
	border-radius: 10px;
}


.circular-border {
	background-color: transparent;
	position: relative;
	text-align: center;

	h2 {
		font-size: 2rem;
		font-weight: bold;
		font-family: "Bebas Neue Book", sans-serif;
		background-color: transparent;
		color: #000;
	}
}

.technologies-container {
	background: transparent;

	ul {
		background: transparent;
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
		margin-top: 3rem;

	}

	li {
		color: var(--text-light);
		font-family: "Fira Code Light", sans-serif;
		width: fit-content;
		font-weight: normal;
		font-size: 1rem;
		position: relative;
		opacity: 1;
		background-color: transparent;
		list-style: none;
	}
}
