.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: none;
  z-index: 1;

  @media (min-width: 50em) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
