/*
.single-card-container {
  !*position: relative;
  outline: var(--border-specs);
  border-radius: var(--border-radius-card-color);
  min-width: 240px;
  max-width: 240px;
  height: 18rem;
  background-color: #fff;
  transition: var(--transition);
  display: inline-block;
  width: 250px;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  box-shadow: var(--box-shadow);*!
  position: relative;
  display: inline-block;
  border-radius: 10px;
  width: 250px;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;

  .blob {
    transform: translate(23%, 3%) scale(0.65);
    fill: rgb(15, 59, 64);
    transition: 0.4s;
  }

  &.active {
    .blob {
      fill: rgb(19, 89, 79);
      transform: translate(23%, 3%) scale(3.75);
    }
    .bg-overlay {
      opacity: 0;
    }
  }

  !*  &:hover {
    box-shadow: none;
    transition: var(--transition);
  }*!
}

.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  z-index: -1;
}

.circular-border {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(12, 51, 57);
  position: relative;
}
i {
  font-style: normal;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  opacity: 0;
  transition: 0.4s;
}
.card.active p {
  opacity: 1;
}

.header-div {
  position: relative;
  display: flex;
  justify-content: center;
  !*  border-bottom: var(--border-specs);
  border-radius: var(--border-radius-card-color) var(--border-radius-card-color)
    0 0;*!
  padding: 0.9rem;
  //background-color: rgb(12, 51, 57);
  background-color: transparent;
}

.name-title {
  position: relative;
  background-color: inherit;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  top: 3px;
}

.type-application-div {
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  background-color: inherit;
}

.type-title {
  background-color: inherit;
  font-size: 1rem;
  font-family: "Montserrat Bold", sans-serif;
}

.technologies-container {
  background-color: var(--yellow-background);
  width: max-content;
  position: relative;

  ul {
    margin: 30px 0 0 30px;
    list-style: none;
    background-color: inherit;

    li {
      font-family: "SF Mono", sans-serif;
      background-color: inherit;

      &:before {
        content: "▹";
        margin-left: 10px;
        background-color: transparent;
        position: absolute;
        left: 0;
        color: #0f3b40ff;
        font-size: 22px;
        line-height: 22px;
      }
    }
  }
}

.open-new-tab-icon {
  background-color: inherit;
  color: #000;
}
*/

/** {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
  background-color: rgb(1, 40, 51);
  text-align: center;
  padding-top: 2em;
}*/
.card {
  border: var(--border-specs);
  border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -khtml-border-radius: var(--border-radius);
  transition: var(--transition);
  min-width: 220px;
  max-width: 220px;
  box-shadow: var(--box-shadow);
  height: 20rem;
  position: relative;
  display: inline-block;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  transform: translate(0, 0);

  &:hover {
    box-shadow: none;
    transform: translate(8px, 8px);
    transition: var(--transition);

    .path-blob-card {
      //fill: url(#myGradient);
      transform: translate(23%, 3%) scale(3.75);
    }
  }
}

.circular-border {
  background-color: transparent;
  position: relative;
  text-align: center;

  h2 {
    font-size: 1.9rem;
    font-weight: bold;
    font-family: "Bebas Neue Book", sans-serif;
    background-color: transparent;
    color: #000000;
  }
}

.technologies-container {
  background: transparent;
  ul {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 3rem;
  }
  li {
    font-family: "Fira Code", sans-serif;
    width: fit-content;
    font-weight: normal;
    font-size: 0.8rem;
    position: relative;
    opacity: 1;
    background-color: transparent;
    list-style: none;
  }
}

.modal-img {
  position: absolute;
  z-index: -1;
}
